{{define "division_main"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galaktika - Division</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="icon" type="image/x-icon" href="/assets/img/Goodstuff-No-Nonsense-Free-Space-Galaxy.ico">
</head>
<body>
<div id="game-container">
    <div id="user-menu" data-division-id="{{.DivisionId}}"></div>
    <h1 id="division-title">Division {{.DivisionId}}</h1>
    <p><a href="fleet-builds.html">Fleet builds</a></p>
</div>
<script type="module">
    import {App} from "../../assets/js/app.js";

    const app = new App();
    app.renderMenu()
</script>
</body>
</html>
{{end}}