{{define "challenges"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galaktika - Challenges</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="icon" type="image/x-icon" href="/assets/img/Goodstuff-No-Nonsense-Free-Space-Galaxy.ico">
</head>
<body>
<div id="game-container">
    <div id="user-menu"></div>

    <h1>Challenges</h1>
    <p id="error-msg" style="display:none"></p>
    <div id="challenges-container">
        <!-- generated with JS -->
    </div>
</div>
<script type="module">
    import {ClearE, GetE} from '/assets/js/helper.js';
    import {App} from '/assets/js/app.js';

    const app = new App()
    app.renderMenu()

    const challengesView = app.getChallengesView()
    const view = await challengesView.generateView()
    ClearE(GetE('challenges-container')).appendChild(view)
</script>
</body>
</html>
{{end}}
