{{define "ship_model_list"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galaktika - Ship Models</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="icon" type="image/x-icon" href="/assets/img/Goodstuff-No-Nonsense-Free-Space-Galaxy.ico">
    <style>
        #container { width: 100%; max-width: 800px; }
    </style>
</head>
<body>
<div id="game-container">
    <div id="user-menu"></div>
    <h1>Ship Models</h1>
    <p id="error-msg" style="display:none"></p>
    <div id="container">
        <!-- generated with JS -->
    </div>
</div>
<script type="module">
    import {ClearE, GetE} from '/assets/js/helper.js';
    import {App} from '/assets/js/app.js';

    const app = new App();
    app.renderMenu();

    ClearE(GetE('container')).appendChild(await app.getShipModelComponent().renderList());
</script>
</body>
</html>
{{end}}
